//Media style

@include media-breakpoint-down(sm) {
	section {
		padding: 1em 0;
	}
	.layout-back {
		display: none;
	}
	.inner {
		width: 90%;
		&__text {
			h1 {
				font-size: 28px;
			}
		}
		&__subtext {
			font-size: 18px;
		}
	}
	.about-img {
		background-image: url(../images/dest/1.jpg);
		height: 200px;
		margin-bottom: 20px;
	}
	.about {
		margin: 0 10px;
		&__title {
			font-size: 18px;
			font-weight: 500;
		}
	}
}
@include media-breakpoint-up(md) {
	
}
@include media-breakpoint-up(lg) {

}